.element__like {
    background: url('../../../images/like.svg'), transparent;
    border: none;
    outline: none;
    padding: 0;
    width: 21px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.element__like:hover {
    opacity: .6;
    transition: .2s linear;

}

/* 
.element__like:active {
    background: url('../../../images/like-active.svg'), transparent;


}
 */



















