.popup__close-popup_type_image {
    position: absolute;
    top: -41px;
    right: -41px;
    padding: 0;
    width: 41px;
    height: 41px;
    background-size: 41px 41px;
    border: none;
    box-shadow: none;
    outline: none;
    background-repeat: no-repeat;
    background: url('../../../images/close-icon.svg'), transparent;
    background-position: center;
    cursor: pointer;



}

   
/* @media screen and (max-width: 560px) {
    .popup__close  {
        top: -64px;
        right: 0px;
        width: 26px;
        height: 26px;
    }
} */

.popup__close-popup_type_image:hover {
    opacity: .6;
    transition: .2s linear;
}