.footer {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-bottom: 60px;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding-left: 19px;
        padding-right: 19px;
    }
}